<div class="dynamic-directive">
  <ol class="breadcrumb">
    <li class="active">Home</li>
  </ol>
  <button type="button" class="btn-primary" ng-click="vm.toggleTypes()">Create Type</button>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4 item-type"
      ng-repeat="type in vm.types track by $index" ng-if="vm.showTypes"
      ng-click="vm.selectType(type)">
      {{type.name}}
    </div>
  </div>
  <div ng-if="vm.showTypes && !vm.selectedTemplate">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12"
          Select a template to display create form
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 item-type"
        ng-repeat="template in vm.selectedType.templates track by $index"
        ng-click="vm.selectTemplate(template)">
        {{template.name}}
        <div class="row">
          <ul class="col-md-12 col-sm-12 col-lg-12">
            <li ng-repeat="(key, value) in template.settings track by $index">
              {{key}}:{{value}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
