.dynamic-directive {
  .breadcrumb {
    margin-top: 60px;
  }

  .item-type {
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    padding: 10px;

    &:hover {
      background-color: #ADD8E6;
    }
  }

  li {
    list-style: none;
  }
}
